# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python distribution/packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/

# IDE specific files
.vscode/
.idea/

./Models/AdmetClassifier/Auto_ML_dataset/

outputs/

*.pt
trained_vae/
